.btn-seemore {
	background: #0093e9 !important;
	color: #fff !important;
	text-decoration: none !important;
	border: 1px solid #0093e9 !important;
}

.btn-seemore:hover {
	background: #fff !important;
	border: 1px solid #0093e9 !important;
	color: #0093e9 !important;
}
