.signIn-form {
	width: 300px;
}

.signIn {
	background: var(--grey-color);
	width: 50vw;
	margin: 10% auto;
	padding: 40px 0;
}

.form-group {
	align-items: flex-start !important;
	margin-bottom: 15px;
}

.form-group label {
	font-size: 14px;
	margin-bottom: 4px;
	font-weight: 600;
}

.form-group input {
	padding: 10px 15px;
	width: 100%;
	font-size: 13px;
	color: var(--light-black-color);
	font-weight: 500;
	border-radius: 8px;
}

.btn-signin {
	margin-top: 20px;
	background: var(--purple-color);
	color: var(--white-color);
	width: 100%;
	border-radius: 8px;
	font-size: 16px;
	height: 40px;
}

.link {
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	font-weight: 500;
}

.link a {
	color: var(--purple-color);
}

.signIn span {
	color: red;
	font-size: 12px;
	font-weight: 500;
	text-indent: 10px;
}
