table {
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 0 4px 3px rgba(218, 216, 216, 0.8);
}

table thead tr,
table tbody tr {
	height: 50px;
}

button {
	height: 30px;
	font-size: 14px !important;
}

.btnAdd {
	width: 150px !important;
}
